/*
 * FlatCast
 */

.FlatCast {
    background-color: #2C3E50;
    height: 100vh;
    padding: 0;
    margin-bottom: 200px;
}

.FlatCast h2 {
    color: #F39C12;
    font-size: 1.7;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    padding: 20px;
    margin-bottom: 35px;
}


@media (min-width: 34em) {

    .FlatCast {
        background-color: #2C3E50;
        height: 100vh;
        padding: 30px 70px;
    }

    .FlatCast h2 {
        color: #F39C12;
        font-size: 3.7em;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 10px;
        padding: 0;
        margin: 15px 0;
    }
}

